{% extends 'base.html' %}

{% block content %}
    {% if category_posts %}

    <h1>{{ cats }}</h1>

    <ul>
        {% for post in category_posts %}
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
                <br/>
                {{ post.post_date }}

                <br/>
                {{ post.body|safe|linebreaks|truncatewords:50 }}
                <br/>
                {{ post.author.first_name }} {{ post.author.last_name }} -
                {{ post.author.email }}
                <br/>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <small><a class="text-success" href="{% url 'update_post' post.pk%}">(Edit)</a></small>
                        <small><a class="text-danger" href="{% url 'delete_post' post.pk%}">(Delete)</a></small>
                    {% endif %}
                {% endif %}

            <hr>

        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}